.edit-form__button_auth {
  margin-top: 216px;
  color: black;
  background-color: white;
}

.edit-form__button_auth:hover {
  opacity: 0.85;
}

.edit-form__button_auth:disabled {
  opacity: 0.6;
  cursor: initial;
}

@media screen and (max-width: 767px) {
  .edit-form__button_auth {
    margin-top: 173px;
  }
}
