.profile__button_type_edit-profile {
    margin: auto 0 auto 10px;
    width: 24px;
    height: 24px;
    background-image: url('../../../../images/EditButtonImg.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .profile__button_type_edit-profile {
        margin: 0 0 0 10px;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}
