.profile__name-container {
    display: flex;
}

@media screen and (max-width: 767px) {
    .profile__name-container {
        margin: 26px;
        align-items: center;
        justify-content: center;
    }
}

